<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.rossbeazley.wear" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission
        android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/watchface_preview"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:name="uk.co.rossbeazley.App">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service
            android:name=".android.ui.WatchFaceService"
            android:label="@string/app_name"
            android:allowEmbedded="true"
            android:taskAffinity=""
            android:permission="android.permission.BIND_WALLPAPER" >

            <meta-data
                android:name=
                    "com.google.android.wearable.watchface.companionConfigurationAction"
                android:value=
                    "uk.co.rossbeazley.wear.CONFIG_DIGITAL" />
            <!-- wearable configuration activity -->
            <meta-data
                android:name=
                    "com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value=
                    "uk.co.rossbeazley.wear.CONFIG_DIGITAL" />

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/watchface_preview" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category
                    android:name=
                        "com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>


        <activity
            android:name=".android.ui.ConfigActivity">

            <intent-filter>
                <action android:name=
                    "uk.co.rossbeazley.wear.CONFIG_DIGITAL" />
                <category android:name=
                    "com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
